@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


input:focus {
    caret-color: white;
}


  .scroll-container {
    overflow-y: auto; /* Kích hoạt thanh cuộn dọc */
    padding-left: 1px; /* Thêm một padding bên phải để giữa khoảng cách với thanh cuộn */
  }
  
  /* Tùy chỉnh thanh cuộn */
  .scroll-container::-webkit-scrollbar {
    width: 3px; /* Chiều rộng của thanh cuộn */
  }
  
  .scroll-container::-webkit-scrollbar-thumb {
    background-color: #cbcbcb; /* Màu sắc của nút cuộn */
    border-radius: 5px; /* Làm tròn góc của nút cuộn */
  }
  
  .scroll-container::-webkit-scrollbar-track {
    background-color: #151414; /* Màu nền của thanh cuộn */
  }

  .two-thirds-image {
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 70%);
  }

  .hover-effect {
    transition: transform 0.3s ease;
  }
  
  .hover-effect:hover {
    transform: scale(1.05);
  }


